sc.servlet.cont.dir=d\:PR.dev\\java\\Tomcat-7.0.8
sc.deploy.dir=${servlet.cont.dir}/webapps
sc.gwt.dir=d\:\\PR.dev\\java\\gwt-2.4.0\\
sc.junit.dir=d\:\\PR.dev\\java\\junit\\
sc.gquery-dnd-bundle=gquery-dnd-bundle-1.0.4.jar
sc.trunk.deploy.path=\\\\server\\share\\ftp\\development\\Showcase\\trunk
sc.db.backup.path=x\:\\showcase.data
sc.rdbms.name=CASTLE\\R2
sc.sqlutil.path=X\:\\dprojects\\C-COM\\sqlutil\\bin
sc.webapp=http://localhost/Showcase