<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Showcase</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      		/WEB-INF/service.xml
      		/WEB-INF/security.xml      
   		</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>ru.curs.showcase.app.server.AppAndSessionEventsListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>CheckAutenticationFilter</filter-name>
    <filter-class>ru.curs.showcase.security.CheckAutenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckAutenticationFilter</filter-name>
    <url-pattern>/secured/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PreProcessFilter</filter-name>
    <filter-class>ru.curs.showcase.app.server.PreProcessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PreProcessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>DataServiceImpl</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.DataServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataServiceImpl</servlet-name>
    <url-pattern>/secured/data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSGridService</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.JSGridService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSGridService</servlet-name>
    <url-pattern>/secured/JSGridService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FilesFrontController</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.FilesFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilesFrontController</servlet-name>
    <url-pattern>/secured/gridToExcel</url-pattern>
    <url-pattern>/secured/gridFileDownload</url-pattern>  
    <url-pattern>/secured/download</url-pattern>
    <url-pattern>/secured/upload</url-pattern>
    <url-pattern>/secured/geoMapExport</url-pattern>        
  </servlet-mapping>
  <servlet>
    <servlet-name>XFormScriptTransformServlet</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.XFormScriptTransformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XFormScriptTransformServlet</servlet-name>
    <url-pattern>/secured/submit</url-pattern>
    <url-pattern>/secured/sqlTransform</url-pattern>
    <url-pattern>/secured/jythonTransform</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectorDataService</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.SelectorDataServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectorDataService</servlet-name>
    <url-pattern>/secured/SelectorDataService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>isAuthenticatedServlet</servlet-name>
    <servlet-class>ru.curs.showcase.security.ShowcaseIsAuthenticatedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>isAuthenticatedServlet</servlet-name>
    <url-pattern>/auth/isAuthenticatedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>ru.curs.showcase.security.ShowcaseLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/auth/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>XFormXSLTransformServlet</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.XFormXSLTransformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XFormXSLTransformServlet</servlet-name>
    <url-pattern>/secured/xslttransformer</url-pattern>
    <url-pattern>/secured/xslTransform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Welcome frame</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.MainPageFramesFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome frame</servlet-name>
    <url-pattern>/secured/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Header frame</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.MainPageFramesFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header frame</servlet-name>
    <url-pattern>/secured/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Footer frame</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.MainPageFramesFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Footer frame</servlet-name>
    <url-pattern>/secured/footer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StateServlet</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.StateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateServlet</servlet-name>
    <url-pattern>/forall/state</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JAX-WS</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JAX-WS</servlet-name>
    <url-pattern>/forall/webservices</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExternalServlet</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.ExternalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExternalServlet</servlet-name>
    <url-pattern>/forall/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ControlMemoryServlet</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.ControlMemoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlMemoryServlet</servlet-name>
    <url-pattern>/control/reset</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GetImageServlet</display-name>
    <servlet-name>GetImageServlet</servlet-name>
    <servlet-class>ru.curs.showcase.app.server.servlets.GetImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageServlet</servlet-name>
    <url-pattern>/getImage</url-pattern>
  </servlet-mapping>  
  
  
  <error-page>
 	 <error-code>500</error-code>
 	 <location>/err500.jsp</location>
  </error-page>
  
</web-app>