# don't modify template file!
user.data       = ..\\webapps\\Showcase\\WEB-INF\\userdata
test1.user.data = ..\\webapps\\Showcase\\WEB-INF\\userdata_TEST1
test2.user.data = ..\\webapps\\Showcase\\WEB-INF\\userdata_TEST2
